# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# IDEs
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
